
/* common styles */
.azeret-mono-1{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  color: rgb(13, 19, 33);
  font-size: 32px;
  text-align: center;
}
.azeret-mono-2{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: rgb(13, 19, 33);
    font-size: 16px;
    line-height: 26px;

  }
  

/* banner section */
nav{
    justify-content: space-between;
    color: black;
}
.nav{
    text-align: center;
    justify-content: space-between;
}
nav ul li {
    color: black;
    border: none;
    list-style: none;
}
nav a{
    text-decoration: none;
}
.header{
    max-width:1440px;
    height: 650px;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding: 10px 250px;
    margin: 50px;
}
.banner-img{
    width: 241px; 
    height: 240px;
    margin: 0 auto;
    padding:10px 350px ;
}
.banner-heading{
    width: 990px;
    height: 130px;
    align-content: center;
/* margin-bottom: 10px; */
padding:0 20px;
font-size: 50px;
}
.banner-description{
    width:900px;
    height: 20px;
    /* margin-top:50px ; */
    padding: 0 90px;
    font-size: 15px;
}
.banner-btn{
    font-size: 18px;
    color:rgb(255, 255, 255) ;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgb(13, 19,33);
    border-radius: 8px;
    margin: 35px 350px;
    width: 24
    00px;
    height: 65px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
}
.development{
    padding: 80px;
    gap: 20px;
}
.development-description{
    width: 850px;
    height: 50px;
    margin-left: 10px; 
    margin-bottom: 50px;
}
.development-img{
    width: 250px;
    height: 200px;
}
.div1,.div2,.div3{
    display: flex;
    gap: 20px;
    padding: 0px;
    justify-content: space-between;
    border-radius: 16px;
    /* background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); */
    width: 950px;
    height: 350px;
    box-sizing: border-box;
    border: 1px solid rgba(239, 242, 247, 0.982);
    opacity: 0.7;
    
}
.first,.second,.third{
width: 477px;
height: 219px;
gap: 10px;
margin: 0px 15px;
}
.font3{
    font-family: "Azeret Mono", monospace;
    font-weight: 700;
    font-size: 24px;
    height:36px;
}
.learn{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
font-size: 20px;
font-weight: 600;
line-height: 23px;
text-align: center;
padding: 12px 20px 12px 20px;
gap: 10px;
}
/* inspiration section */
.video{
    width: 1076px;
    height: 550px;
    border-radius: 16px;
    margin-top: 30px;

}
/* my current target section */
.current-target{
    margin-top: 90px;
}
.target{
    display: flex;
    gap: 30px;
}
.target-text{
    text-align: center;
    justify-content: center;
}
.target-descriotion{
    line-height: 26px;
    margin: 24px 0px;
    width: 850px;
    height: 50px;
    margin-left: 120px;
}
.html{
    width: 350px;
    height: 230px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
    margin-top: 20px;
}
.css{
    width: 350px;
    height: 230px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 40px;
    margin-top: 20px;
}
.js{
    width: 350px;
    height: 230px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 40px;
    margin-top: 20px;
}
a{
    color: black;
    font-weight: 700;
}

/* my next target section */
.next-target{
    gap: 10px;
    margin-top: 0px;
}
.next-target-description {
    padding: 0px 130px;
}
.react,.node,.mongo{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 15px;
margin-top: 20px;
}
.react-im,.node-im,.mongo-im{
width: 400px; 
height: 100px;
text-align: center;
justify-content: center;
padding-top: 30px;
}
.react-img{ 
    width: 94.78px;
    height: 84.41px;

}
.node-img{
    width: 90.3px;
    height: 87.75px;
    
}
.mongo-img{
    width: 108px;
    height: 108px;
    
 } 







/* footer section */
footer{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
    font-family: "Azeret Mono", monospace;
}
.footer{ 
    /* background-image: url(../images/handshake.jpg); */
   
    background-repeat: no-repeat;
    padding: 120px 300px ;
    background-position: center;
    border-radius: 16px;
    background-size: cover;
    background: url(../images/handshake.jpg), rgba(0, 0, 0, 0.2);
}
.footer-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;

}
.footer-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
.form{
    display: flex;
    font-family: "Azeret Mono", monospace;
    gap: 10px;
}
footer input[type="text"]{
    width: 550px;
    height: 50px;
    border-radius: 8px;
    background-color:rgb(255, 255, 255) ;
    margin-bottom: 10px;
    border: none;
}
.footer-btn{
    width: 120px;
    height: 53px;
    padding: 17px 20px;
    gap: 10px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    background-color:rgb(255 ,255, 255);
    border-radius: 8px;
    border: none;
}
.footer-last{
    display: flex;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    justify-content: space-between;
    margin-top: 60px;
    padding: 10px;
}